.page {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  padding-top: var(--space-24);
}
.optionGroup {
  display: flex;
  gap: var(--space-8);
  margin-top: var(--space-16);
  flex-wrap: wrap;
}
.dataActions {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  margin-top: var(--space-16);
}
.hiddenInput {
  display: none;
}
